body {
  background-image: url('../assets/background.jpg');
  height: 100%;
  background-repeat: none;
  opacity: 0.8;
}

.App {
  text-align: center;
  padding: 5%;
}

.right-button {
  cursor: pointer;
  float: right;
}

.list-item {
  display: inline-block;
}

.character-description-item {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.supers-list {
  margin: 0 10px;
}

.character-description-list {
  border: lightgray 1px solid;
  border-radius: 5px;
  margin: 10px auto;
  background-color: darkgray;
  color: #fff;
  max-width: 80%;
}
